version: '3.8'
name: les_ms_cest_la_kata

services:
    rabbitmq:
        image: "rabbitmq:3-management-alpine"
        container_name: rabbitmq
        ports:
            - "15672:15672"   # RabbitMQ Management UI
            - "5672:5672"     # RabbitMQ Messaging Port
        environment:
            RABBITMQ_DEFAULT_USER: user
            RABBITMQ_DEFAULT_PASS: password
            RABBITMQ_SERVER_STARTUP_TIMEOUT: 60000
            MESSAGE_BUS_USE: rabbitmq
        networks:
            - app-network
        volumes:
            - rabbitmq-data:/var/lib/rabbitmq/mnesia/rabbit@rabbitmq

    # Jaeger Service (for tracing)
    jaeger:
        image: "jaegertracing/jaeger:latest"
        container_name: jaeger
        ports:
            - "16686:16686"
            - "4317:4317"
            - "4318:4318"
            - "5778:5778"
            - "9411:9411"
        environment:
            COLLECTOR_ZIPKIN_HTTP_PORT: 9411
            COLLECTOR_OTLP_ENABLED: true
        networks:
            - app-network

    order:
        build:
            context: .
            args:
                SERVICE_PATH: ./order
        container_name: order-service
        environment:
            SPRING_DATASOURCE_URL: jdbc:postgresql://order-db:5432/order_db
            SPRING_DATASOURCE_USERNAME: appuser
            SPRING_DATASOURCE_PASSWORD: password
            SPRING_JPA_HIBERNATE_DDL_AUTO: update
            SPRING_RABBITMQ_HOST: rabbitmq
            SPRING_RABBITMQ_USERNAME: user
            SPRING_RABBITMQ_PASSWORD: password
            OTEL_SERVICE_NAME: order-service
            OTEL_TRACES_EXPORTER: otlp
            OTEL_LOGS_EXPORTER: otlp
            OTEL_SPANS_EXPORTER: otlp
            OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4318
        ports:
            - "8080:8080"
        depends_on:
            - order-db
            - rabbitmq
        networks:
            - app-network

    order-db:
        image: "postgres:alpine"
        container_name: order-db
        environment:
            POSTGRES_USER: appuser
            POSTGRES_PASSWORD: password
            POSTGRES_DB: order_db
#        volumes:
#            - order-db-data:/var/lib/postgresql/data
        networks:
            - app-network

    inventory:
        build:
            context: .
            args:
                SERVICE_NAME: inventory-service
                SERVICE_PATH: ./inventory
        container_name: inventory-service
        environment:
            SPRING_DATASOURCE_URL: jdbc:postgresql://inventory-db:5432/inventory_db
            SPRING_DATASOURCE_USERNAME: appuser
            SPRING_DATASOURCE_PASSWORD: password
            SPRING_JPA_HIBERNATE_DDL_AUTO: update
            SPRING_RABBITMQ_HOST: rabbitmq
            SPRING_RABBITMQ_USERNAME: user
            SPRING_RABBITMQ_PASSWORD: password
            OTEL_SERVICE_NAME: inventory-service
            OTEL_TRACES_EXPORTER: otlp
            OTEL_LOGS_EXPORTER: otlp
            OTEL_SPANS_EXPORTER: otlp
            OTEL_EXPORTER_OTLP_ENDPOINT: http://jaeger:4318
        depends_on:
            - order
            - inventory-db
            - rabbitmq
        networks:
            - app-network

    inventory-db:
        image: "postgres:alpine"
        container_name: inventory-db
        environment:
            POSTGRES_USER: appuser
            POSTGRES_PASSWORD: password
            POSTGRES_DB: inventory_db
#        volumes:
#            - inventory-db-data:/var/lib/postgresql/data
        networks:
            - app-network

# Volumes to persist data
volumes:
    order-db-data:
    inventory-db-data:
    rabbitmq-data:

# Network for all services
networks:
    app-network:
        driver: bridge
